extends layout

block content
	#wrapper
		#logo
			img(src='/images/logo.png')
		#display
			include links
		h1= title
			form#formAddUser(name="adduser",method="post",action="/adduser")
				input#inputUserName(type="text", placeholder="username", name="username")
				input#inputUserEmail(type="text", placeholder="useremail", name="useremail")
				button#btnSubmit(type="submit") submit

		include footer
