extends layout

block content
	#wrapper
		#logo
			img(src='/images/logo.png')
		#display
			include links
		h1.
			User List
		ul
			each user, i in userlist
				li
					a(href="mailto:#{user.email}")= user.username

		include footer

  
